body{
    margin: 0;
    height: 100vh;
    background: url(../laugh.jpg) no-repeat center center / cover;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: poppins, sans-serif;
}

#container{
    width: 50%;
    height: auto;
    padding: 20px 20px;
    background-color: ghostwhite;
    text-align: center;
    border-radius: 10px;
    background-color: blueviolet;
    color: #fff;
    box-shadow: 5px 5px 15px gray;
}

h1{
  font-weight: 700;
  text-decoration: underline;
}

.para{
    font-size: 16px;
    margin-bottom: 10px;
    font-weight: 300;
    font-style: italic;
}

.joke-card{
  height: 50px;
  width: 90%;
  padding: 10px;
  padding-top: 14px;
  background-color: black;
  margin-left: 15px;
  border-radius: 14px;
}

.nxtBtn button {
  background: #ff4081;
  color: white;
  padding: 15px  30px;
  border: none;
  border-radius: 8px;
  font-weight: 500;
  font-size: 16px;
  cursor: pointer;
  box-shadow: palegoldenrod 0px 5px 13px;
  animation: anime 2s linear infinite normal;
}

@keyframes anime{
  from{
    background-color: lightpink;
    transform: scale(1.05);
    color: black;
  }
  to{
    background-color: #ff4081;
    color: #fff;
  }
}


